#main-content{
    background-color: rgb(168, 236, 119);
}
#title{
    font-size:65px;
    font-family: 'Alegreya Sans', sans-serif;
}
#subheading{
    font-size:25px;
    font-family: 'Literata', serif;
}
#divider{
    width:47%;
    height:3px;
}
#footer{
    height:20px;
    width:100%;
    position:fixed;
    bottom:0;
    background-color: darkolivegreen;
    color:darkseagreen;
}
#links{
 margin-bottom:10px;
}
body{
    text-align: center;
}
canvas{
    box-shadow: 5px 5px 20px lightgreen;
    padding:3px;
    margin:2px;
    border: 2px dashed black;
}